   <hr>
   <footer>
  
      <figure>
         <img src="img/csumb_logo.png" alt="CSUMB Logo" />
      </figure>
      <div>
         <br>
         CST 336 Internet Programming. 2020&copy; Halbert <br>   
         Disclaimer: The information in this page might be innacurate.
         <br>
         It is used for academic purposes only.
      </div>
   </footer>
   </body>
</html>