<%- include('partials/header.ejs') %>
    
    <hr> 
    <main class="main-content">
        <div>
            <img src="/img/earth.jpg" alt="The Solar System" class="planet" />
        </div>
        
        <div>
            <h2>Something about Earth</h2>
            <ul>
                <li> It is the third planet from the sun </li>
                <li> It is the fifth largest planet in our solar system</li>
                <li> It is the only planet has liquid water on the surface in our solar system</li>
                <li> The Earth’s rotation is gradually slowing </li>
                <li> Earth has a powerful magnetic field </li>
                <li> Moon is the only one natural satellite of the planet Earth </li>
                <li> Earth is the only planet not named after a god </li>
                <li> The Earth is the densest planet in the Solar System </li>
                <li> It was formed approximately 4.54 billion years ago </li>
            </ul>
        </div>
    </main>
        
    <%- include('partials/footer.ejs') %>   