<%- include('partials/header.ejs') %>
   
    <hr> 
    <main class="main-content">
        <div>
            <img src="/img/mars.jpg" alt="The Solar System" class="planet" />
        </div>
        
        <div>
            <h2>Something about Mars</h2>
            <ul>
                <li> Mars is the fourth planet from the sun and is about half the size of Earth</li>
                <li> A year on Mars is about 687 Earth days.</li>
                <li> Mars is is a dusty, cold, desert world with a very thin atmosphere</li>
                <li> Mars is the most explored planet and 18 missions to Mars have been successful </li>
                <li> It's the only planet where we've sent rovers to roam the alien landscape</li>
                <li> Mars has the largest dust storms in the solar system </li>
                <li> On Mars the Sun appears about half the size as it does on Earth </li>
                <li> There are signs of liquid water on Mars </li>
                <li> One day Mars will have a ring </li>
                
            </ul>
        </div>
    </main>
        
    <%- include('partials/footer.ejs') %>   