<%- include('partials/header.ejs') %>
    
    
    <hr> 
    <main class="main-content">
        <div>
            <img src="/img/mercury.jpg" alt="The Solar System" class="planet" />
        </div>
        
        <div>
            <h2>Something about Mercury</h2>
            <ul>
                <li> Mercury does not have any moons or rings </li>
                <li> Mercury is the smallest planet in the solar system </li>
                <li> A year on mercury takes 88 Earth days </li>
                <li> It's not known who discovered mercury </li>
                <li> Mercury is the second hottest planet </li>
                <li> Only two spacecraft have ever visited Mercury </li>
                <li> Mercury is the closest planet to the sun </li>
                <li> Mercury is the second densest planet </li>
            </ul>
        </div>
    </main>
        
    <%- include('partials/footer.ejs') %>