<%- include('partials/header.ejs') %>
    
    <hr> 
    <main class="main-content">
        <div>
            <img src="/img/venus.jpg" alt="The Solar System" class="planet" />
        </div>
        
        <div>
            <h2>Something about Venus</h2>
            <ul>
                <li> Venus does not have any moons or rings </li>
                <li> Venus is thought to be made up of a central iron core, rocky mantle and silicate crust. </li>
                <li> Venus is nearly as big as the Earth with a diameter of 12,104 km. </li>
                <li> A year on Venus takes 225 Earth days </li>
                <li> A day on the surface of Venus (solar day) would appear to take 117 Earth days </li>
                <li> Venus is the hottest planet because of its dense atmosphere, surface temperature can reach 471 °C </li>
                <li> Venus is also known as the Morning Star and the Evening Star </li>
                <li> Venus rotates in the opposite direction to most other planets </li>
            </ul>
        </div>
    </main>
        
    <%- include('partials/footer.ejs') %>    